{% extends 'core/base.html' %}

{% block content %}
<!-- Image Start -->
<img src="https://picsum.photos/id/121/1200/400" style="width: 100%; height: auto;">
<!-- Image End -->

<!-- Jumbotron Start -->
<div class="container-fluid bg-dark p-5">
<div class="container">
  <div class="px-0 py-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">About Us</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus iure provident amet maiores. Assumenda, vel?</p>
  </div>
</div>
</div>
<!-- Jumbotron End -->

<div class="container">
<div class="col-sm-8 offset-2">
<h1>Who We are</h1>
<hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo ab earum, aperiam dolorem 
    quas rerum ratione eveniet inventore doloribus adipisci cupiditate magni autem iure officia itaque 
    harum hic numquam?</p>
</div>
</div>
{% endblock content %}