{% extends 'core/base.html' %}

{% block content %}

<!-- Image Start -->
<img src="https://picsum.photos/id/121/1200/400" style="width: 100%; height: auto;">
<!-- Image End -->

<!-- Jumbotron Start -->
<div class="container-fluid bg-dark p-5">
<div class="container">
  <div class="px-0 py-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Contact Us</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus iure provident amet maiores. Assumenda, vel?</p>
  </div>
</div>
</div>
<!-- Jumbotron End -->

<div class="container">
<div class="col-sm-8 offset-2">
<h1>Contact Us</h1>
<hr>
  <ul>
    <li>Mail : tolga@tolga.com</li>
    <li>Phone : 1232456789</li>
    <li>Address : dfsdfsdfsdfsdf</li>
    <li>Link : sfsdfsdf.com</li>
  </ul>
</div>

</div>
{% endblock content %}